* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./images/bg-small.png) no-repeat center center/cover fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: "Playpen Sans Hebrew", cursive;
}

#heading {
    font-size: 1.5rem;
    font-family: "Potta One", system-ui;
    margin-bottom: 20px;
    font-weight: bolder;
    color: rgb(73, 32, 32);
}

.container {
    background-color: white;
    width: 85%;
    max-width: 600px;
    min-height: fit-content;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px;
    margin: 30px auto;
}

.point-system {
    margin-bottom: 30px;
}

.container button {
    padding: 7px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 7px;
    border: 2px solid #492020;
    background: #492020;
    color: #fff;
    transition: .6s ease-in-out;
    box-shadow: 1px 2px 4px grey;
    cursor: pointer;
}

.container button:hover {
    background-color: #fff;
    color: #492020;
}

.course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.serial-number {
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 5px;
}

.course input {
    flex: 3;
    min-width: 0;
    max-width: fit-content;
    font-size: 1.2rem;
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #492020;
}



.course select {
    flex: 1;
    width: 10px;
    max-width: fit-content;
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 10px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #492020;
    text-align: center;
}

.delete {
    flex: 1;
    font-size: 1.1rem;
    padding: 5px;
    /* margin: auto; */
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    max-width: 40px;
}

.delete:hover {
    background-color: red;
    color: white;
}

.gpa {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 30px;
}

.copyrightText {
    color: white;
    margin-bottom: 10px;
    text-shadow: 0 0 4px black;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 768px) {

    body {
        font-size: 1rem;
        font-family: "Playpen Sans Hebrew", cursive;
    }

    #heading {
        font-family: "Potta One", system-ui;
    }

    .container {
        width: 80%;
    }
}

@media screen and (max-width: 430px) {

    body {
        font-size: 1rem;
        font-family: "Playpen Sans Hebrew", cursive;
    }

    #heading {
        font-family: "Potta One", system-ui;
    }

    .container {
        width: 90%;
    }
}